<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.raywenderlich.android.cocktailmakerapp">


  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/SplashTheme"
    tools:ignore="GoogleAppIndexingWarning">

    <!-- Main Activity -->
    <activity
      android:name=".ui.MainActivity"
      android:launchMode="singleTask"
      android:exported="true" >

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter android:label="@string/title">
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data
          android:scheme="https"
          android:pathPrefix="/cocktail_maker_app"
          android:host="www.raywenderlich.com"/>
      </intent-filter>
    </activity>

    <!-- Cocktail Activity -->
    <activity
      android:name=".ui.CocktailActivity"
      android:exported="true"
      android:parentActivityName=".ui.MainActivity"/>

    <meta-data
      android:name="preloaded_fonts"
      android:resource="@array/preloaded_fonts" />

  </application>

</manifest>
